@{
    ViewData["Title"] = "About Me";
}

<h2>.+'- ABOUT ME -'+.</h2>
<hr/>
<p><strong>♾️ Name:</strong> Valencia, Lorene Mikyle A.</p>
<p><strong>♀️ Age:</strong> 21</p>
<p><strong>🎒 Course & Year:</strong> BSIT 3rd Year</p>
<img src="~/Photo/Me.jpg" alt="Me" width="150" />

<hr/>
<h3>My Expectations for Web Systems and Technologies</h3>
<ul>
    <li>Learn how to build fully developed or simple web applications.</li>
    <li>Understand the deployment of applications such as webs.</li>
    <li>Understand deployment and hosting of ASP.NET apps.</li>
    <li>Improving own's programming knowledge as well as coding capabilities. </li>
</ul>

